.container {
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: lightgrey;
    border: 10px solid #cc121f;
    border-radius: 20px;
    width: 500px;
    height: 700px;
    }
    .caixa1 { text-align: center;padding: 10px;margin-right: 1%;}

    .caixa2 { text-align: center; width:369px;margin: 4%;padding: 10px;}

    .inside { position: relative;
        text-align: center;
        left: auto;
        top: 10%;
 
      }
   
      .container2 {
        display: flex;
        align-items: center; 
       margin: 5%;
    }

        .checkbox {
            margin-right: 10px; 
            margin: 5px;
            width:16px;
            height:14px;
          }
.espaco{
    margin-top: 10px;
 }
