.h2{ position: absolute;
}
.container {
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: lightgrey;
    border: 10px solid #cc121f;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    }
.inside { position: absolute;

  text-align: center;
  left: 10%;
  top: 1%
 
}
.caixa { text-align: center;
  width:260px;
height: 20px;
}

.bot1 {border-radius: 200px;
background-color: lightgreen;
margin-right: 5px;

}
.img {
padding-top: 100px;
}
.bot2{border-radius: 200px;
  margin-left: 5px;

  background-color: tomato;
}
.espaco {padding-left:48px;}

